{% raw %}
{% extends 'base.html' %}

{% block title %}Digite sua Nova Senha - DatumAgro{% endblock %}

{% block content %}
    <h2>Defina sua Nova Senha</h2>
    {% if validlink %}
        <p>Por favor, digite sua nova senha duas vezes para confirmar.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button-primary">Salvar Nova Senha</button>
        </form>
    {% else %}
        <p class="error-message">O link para redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
{% endblock %}
{% endraw %}