<!DOCTYPE html>
<html>
<head>
    <title>Recuperação de Senha - DatumAgro</title>
</head>
<body>
    <h2>Olá {{ user.first_name }},</h2>
    
    <p>Você solicitou a recuperação de senha para sua conta no DatumAgro.</p>
    
    <p>Para redefinir sua senha, clique no link abaixo:</p>
    
    <p><a href="{{ reset_url }}">Redefinir Senha</a></p>
    
    <p>Se você não solicitou a recuperação de senha, ignore este email.</p>
    
    <p>Atenciosamente,<br>
    Equipe DatumAgro</p>
</body>
</html>